.color1{
    color: rgb(255, 0, 0); 
}

.color2{
     color: rgb(0, 128, 0); 
    }

.color3{
     color: rgb(0, 0, 255); 
    }

.color4{
     color: rgb(255, 165, 0); 
    }

.color5{
     color: rgb(128, 0, 128); 
    }

.color6{
     color: rgb(0, 255, 255); 
    }

.color7{
     color: rgb(255, 192, 203); 
    }

.color8{
     color: rgb(128, 128, 128); 
    }

.color9{
     color: rgb(75, 0, 130); 
    }

.color10{
     color: rgb(34, 139, 34); 
    }
